@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul,
ol,
h3,
a,
p {
  margin: 0;
}

li {
  margin-bottom: 10px;
}

body {
  background-color: #e0e1e7;
  color: #3f3d3e;
  font-size: 20px;
  font-family: "Kanit";
  margin: 0 auto;
  padding: 50px 50px;
}
.backbtn:hover {
  text-decoration: underline;
}
